.jumbotron {
	text-align: center;
	margin-bottom: 1%;
}



.list-inline>li.panel {
	width: 160px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.btn-danger {
	width: 100%;
	margin-top: 10px;
}


#section-watchlist>.list-inline {
	text-align: center;
}



.main-content {
	color: gray;
}

#section-browse {
	background: black;	
}

#section-browse form {
	margin-bottom: 2%;
}

hr {
	border-color: rgba(128,128,128,0.2);
}

section header {
	margin-bottom: 10px;
}

section {
	padding: 2%;
}